:root{
	--backgroud: #151921;
	--text-color: #FFFF;
    --text-color-no: #7F8185;
    --playbar-color: #282828;
    --width-sidebar: 50px;
    --height-upgrate: 90px;
    --height-player: 90px;
}

@media (min-width: 600px) {
	:root {
		--width-sidebar: 230px;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* MAIN CLASS */

body {
	font-family: 'Montserrat', sans-serif;
	color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color-no);
}

.btn {
    border-radius: 9rem;
    padding: 1em 2.5em;
}

.btn-tra {
    color: var(--text-color);
    font-size: .7rem;
    border: 1px solid var(--text-color);
}

.main-content {
	overflow-y: auto;
}

/* Layout */

.container {
    height: 100vh;
}

.sidebar,
.main-content {
    position: fixed;
	top: 0;
	bottom: var(--height-player);
}

.main-content {
    right: 0;
    left: var(--width-sidebar);
    background-color: var(--backgroud);
}

.main-content .content {
    margin-top: var(--height-upgrate);
    padding: 1rem;
}

.sidebar {
    left: 0;
    z-index: 8;
    width: var(--width-sidebar);
    background-color: black;
}

.player {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    height: var(--height-player);
    background-color: var(--playbar-color);
}

.upgrade {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 7;
    height: var(--height-upgrate);
    background-color: rgba(0, 0, 0, .4);
}

.upgrade .btn {
    margin-right: 2rem;
}

/* MAIN CONTENT */

/* UPGRADE */

.btn.btn-tra:hover {
    font-size: .8rem;
    margin-right: 1.5rem;
}

/* SIDEBAR */

.main-content .content nav {
    font-size: .8rem;
    font-weight: bold;
}

.main-content .content nav ul {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.main-content .content nav li {
	padding: 1em 1.5em .4em 1.5em;
	position: relative;
}

nav li.active::after {
	content: "";
	display: block;
	position: absolute;
	right: 35%;
	bottom: 0;
	left: 35%;
	height: 2px;
	background-color: greenyellow;
}

/* GRID */

.content .grid {
    --cols: 2;
	--gap: 1rem;

	display: flex;
    /* justify-content: space-around; */
	flex-wrap: wrap;
	gap: var(--gap);
}

.card	{
    aspect-ratio: 1 / 1;
	flex: 0 0 calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
    text-align: center;
    margin-top: 1rem;
    position: relative;
}

@media (min-width: 700px) {
	.content .grid {
		--cols: 4;
	}
}

@media (min-width: 1100px) {
	.content .grid {
		--cols: 6;
	}
}

.content h2 {
    margin: 2rem 0 .4em 0;
}

.content p {
    font-size: .7rem;
    font-weight: lighter;
    color: var(--text-color-no);
}

.card img {
    width: 100%;
}

.card .hover-img {
    display: flex;
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    font-size: 4rem;
    width: 100%;
    aspect-ratio: 1 / 1;
    opacity: 0;
}

.card .hover-img:hover {
    opacity: 1;
}

.card h3 {
    font-size: .9rem;
    margin: .5em;
}

.artisti .card img {
    border-radius: 50%;
}